@import "presentation/styles/variables";

// TODO:
.machine {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__reels {
    position: relative;
    width: 100%;
    max-width: $size_symbol_mobile * $count_reels;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 4rem auto 1rem;
    filter: drop-shadow(0 0.5rem 1rem rgba($color_black, 0.2));

    @include media_up($breakpoint_tablet) {
      max-width: $size_symbol_desktop * $count_reels;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      left: -1rem;
      top: -1rem;
      width: calc(100% + 2rem);
      height: calc(100% + 2rem);
      background: $color_dark;
      border-radius: 16%/2rem;
      border-left: 0.5rem solid $color_gray_dark;
      border-right: 0.5rem solid $color_gray_dark;
    }

    &__title {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      margin: auto;
      top: -4rem;
      width: 100%;
      max-width: 14rem;
      padding: 0.75rem 1.6rem;
      border-radius: 24%/4rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 1.75rem;
      font-weight: 900;
      text-align: center;
      background: $color_dark;
      color: $color_theme_yellow;
      letter-spacing: 0.1rem;
      border-left: 0.6rem solid $color_gray_dark;
      border-right: 0.6rem solid $color_gray_dark;
    }
  }

  &__buttons {
    width: 100%;
    margin: 1.25rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform: perspective(30rem) rotateX(5deg);
    background: $color_theme_light;
    padding: 0.5rem 0.75rem 1rem;
    border-radius: 1rem 1rem 2rem 2rem;
    border-bottom: 0.75rem solid rgba($color_black, 0.2);
    box-shadow: $box_shadow_bottom_50;

    &__button {
      transition: $transition_base;
      position: relative;
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      color: $color_dark;
      background: $color_theme_yellow;
      padding: 0.8rem 1.2rem 0.85rem;
      margin: 0.5rem;
      font-size: 1rem;
      font-weight: 500;
      box-shadow: $box_shadow_bottom_50;
      border-radius: 2rem;
      border-bottom: 0.7rem solid $color_theme_yellow_dark;

      &:hover {
        transform: translateY(0.05rem);
      }

      &:active {
        transform: translateY(0.4rem);
      }

      &--disabled {
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
      }

      &--passive {
        opacity: 0.75;
        filter: grayscale(1);
      }

      &__icon {
        transform: scale(1.25);
        margin: 0 0.75rem 0 0;
      }
    }
  }
}
