@import "presentation/styles/variables";

// TODO:
.machine {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__reels {
    position: relative;
    width: 100%;
    max-width: 18.75rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem auto;

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      left: -1rem;
      top: -1rem;
      width: calc(100% + 2rem);
      height: calc(100% + 2rem);
      background: #ccc;
      box-shadow: inset 0 0 1.5rem 0.75rem rgba($color_dark, 0.5);
      border-radius: 5%;
    }
  }

  &__buttons {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
