@import "presentation/styles/variables";

.machine__debug {
  &__reel {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 0.5rem;
    background: $color_gray_light;

    &__symbol {
      transition: $transition_background, $transition_opacity;
      height: 3.5rem;
      opacity: 0.5;
      border-radius: inherit;

      &--active {
        opacity: 1;
        background: $color_dark;
      }
    }
  }
}
